<link rel="stylesheet" href="/css/forget_pass.css" />


<div class="body">
    <div class="container">
        <form id="form" action="" method="POST" class="form">
            <h2>Forgot Password</h2>

            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter email" />
            </div>

            <input type="submit" value="Reset Password" class="button-design" />
        </form>
    </div>
</div>