<div>
    <p>
        Hello <% user.name%> , Your requested to reset your password , here is your link to reset your password.
    </p>
    <p>
        Click the following link to reset your password: <%= user.resetLink%>

    </p>
</div>